.nav-links {

  >* {
    transition: .2s ease-in-out;
    color:  black;
    margin: 10px;
    padding: 0 15px;
    cursor: pointer;
    // width: 100px;
    font-size: 20px;
    text-align: center;

    &:hover {
      color: white;
    }
  }
}


.nuxt-link-exact-active {
  font-weight: 700;
  // box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
  border-radius: 3px;
  color:  white;
}
