body {
  width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1.2px;
  transition: width .5s ease-in-out;
  font-family: 'Raleway', sans-serif;
}

/* resets */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  &:link {
    text-decoration: none;
  }
}

main {
  height: 100vh;
  max-width: 95%;
  margin: 0 auto;
}
