<template>
  <main class="main">
    <h2>Results</h2>
    <el-button type="success" round>
      <nuxt-link to="/search" class="bk-btn">Back</nuxt-link>
    </el-button>
    <h4>{{ $route.params.id }}</h4>
    <div
      v-if="albumExists">
      <el-row :gutter="20" md>
        <el-col v-for="(album, index) in albumData" :key="index" class="colis">
          <Card
            :title="album.collectionCensoredName"
            :img="album.artworkUrl100"
            :artist-name="album.artistName"
            :url="album.artistViewUrl"
          />
        </el-col>
      </el-row>
    </div>
    <div v-else>
      <h3>Album does not exist</h3>
    </div>
    <!-- {{ albumData }} -->
  </main>
</template>

<script>
import axios from 'axios';
import Card from '~/components/Card';

export default {
  /* eslint-disable arrow-body-style */
  asyncData({ params }) {
    return axios.get(`https://itunes.apple.com/search?term=${params.id}&entity=album`)
      .then((response) => {
        return { albumData: response.data.results };
      });
  },

  components: {
    Card,
  },

  middleware: 'search',
  methods: {
    picker(index) {
      return index % 2 === 0 ? 'red' : 'blue';
    },
  },
  computed: {
    albumExists() {
      return this.albumData.length > 0;
    },
  },
};
</script>

<style scoped lang="scss">
.colis {
  width: 100%;
  @media all and (min-width: 776px) {
    width: 50%;
  }
  @media all and (min-width: 1024px) {
    width: 25%;
  }
}

.bk-btn {
  color: white;
}
</style>
