<template>
  <el-card :body-style="{ padding: '0px' }" :href="url">
    <img :src="img" class="image">
    <div style="padding: 14px;">
      <span class="title"><strong>{{ title }}</strong></span>
      <div class="bottom clearfix">
        <time class="name">{{ artistName }}</time>
      </div>
    </div>
  </el-card>
</template>

<script>
export default {
  props: {
    title: String,
    img: String,
    artistName: String,
    url: String,
    color: String,
  },

  data() {
    return {

    };
  },
};
</script>

<style scoped lang="scss">
.el-card {
  width: 100%;
  margin: 10px 0;
}
.image {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.title,
.name {
  display:inline-block;
  width: 200px;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}
.title {
  font-size: 12px;
}
.name {
  font-size: 14px;
  font-weight: 700;
}

</style>
