<template>
  <div>
    <a-entity :io3d-furniture="furnitureId" :position="pos">
      <a-box height="0.04" :color="rndColor" :width="stepSize" :depth="stepSize" position="0 -0.02 0"></a-box>
    </a-entity>
  </div>
</template>

<script>
export default {
  name: 'Furnitures',
  props: ['furnitureId', 'index'],

  data() {
    return {
      stepSize: 3,
    };
  },
  computed: {
    rndColor() {
      // magic pastel color formula
      const hue = Math.floor(Math.random() * 290) - 40;
      const saturation = Math.floor(Math.random() * 20) + 20;
      const lightness = Math.floor(Math.random() * 20) + 70;
      return `hsl(${hue < 0 ? hue + 360 : hue}, ${saturation}%, ${lightness}%)`;
    },
    pos() {
      // we want rows of 5
      /* eslint-disable no-mixed-operators */
      const xPos = this.index % 5 * this.stepSize - this.stepSize * 2;
      const zPos = Math.floor(this.index / 5) * -this.stepSize - 2;
      return `${xPos} 0 ${zPos}`;
    },
  },
};
</script>

<style scoped>

</style>
