<template>
  <b-navbar toggleable="sm" type="light" variant="warning" sticky>

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand to="/"><ion-icon name="menu" class="burger"></ion-icon></b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">

      <b-navbar-nav class="nav-links">
          <nuxt-link to="/blog"><ion-icon name="analytics"></ion-icon></nuxt-link>
          <nuxt-link to="/about"><ion-icon name="rocket"></ion-icon></nuxt-link>
          <nuxt-link to="/search"><ion-icon name="search"></ion-icon></nuxt-link>
          <nuxt-link to="/aframe"><ion-icon name="cube"></ion-icon></nuxt-link>
      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
</template>

<script>
export default {

};
</script>

<style scoped lang='scss'>
.navbar-brand {
  transition: .4s ease-in-out;

  &:hover {
    transform: scale(1.5) rotateZ(45deg);
  }
}

.burger {
  font-size: 30px;
}
</style>
