<template>
    <nuxt-link :to="'/blog/' + path">
      <el-card :body-style="{ padding: '0px' }">
        <img :src="thumbnail" class="image" style="object-fit: cover; width: 100%; height: 300px;">
        <div style="padding: 14px;">
          <h3>{{ title }}</h3>
          <div class="bottom clearfix">
            <p class="time">{{ excerpt }}</p>
          </div>
        </div>
      </el-card>
    </nuxt-link>
</template>

<script>
export default {
  name: 'PostPreview',
  props: {
    title: {
      type: String,
      required: true,
    },
    excerpt: {
      type: String,
      required: true,
    },
    thumbnail: {
      type: String,
      required: true,
    },
    path: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>

</style>
