.home-page {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  h1 {
    padding-bottom: 50px;
  }

  .articles {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    .article {
      width: 100%;
      transition: .3s ease-in-out;
      margin-bottom: 5px;

      @media all and (min-width: 991px) {
        width: 33%;
        margin: 0;
      }

      &:hover {
        transform: scale(0.99);
        box-shadow: 0px 0px 43px 2px rgba(0,0,0,0.29);
      }

      .image {
        height: 300px;
      }
    }
  }
}

