.post-page {

  img {
    object-fit: cover;
    width: 100%;
    height: 600px;
  }

  .text {
    padding: 20px;

    h1 {
      padding: 20px 0;
    }

    .link {
      color: white;
      background: red;
      border-radius: 3px;
      padding: 8px 12px;
    }
  }
}
