<template>
  <main class="group about-page">
    <article>
      <h1>About</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eos cumque nisi et, recusandae corporis illum reiciendis explicabo aspernatur, quae mollitia, facere molestiae quasi magni! Minima dolores voluptatum maxime soluta!
      Delectus autem sit assumenda non suscipit, quaerat similique laboriosam consequatur beatae! Dolorum vel a, cupiditate commodi maiores ipsam veritatis esse explicabo repellendus expedita sit perferendis iure, optio maxime numquam earum.
      Deserunt aliquid reprehenderit nihil, earum quas tenetur mollitia soluta doloremque, nam rerum, nostrum cum ullam recusandae cupiditate? Totam asperiores ipsa dolores consequuntur, inventore, esse ullam consequatur accusantium repudiandae reprehenderit fugit!</p>
    </article>
  </main>
</template>

<script>
export default {

};
</script>

<style scoped>

</style>
