<template>
  <main class="home-page">

    <h1>All Posts</h1>

    <section class="articles">
      <PostPreview
        class="article"
        v-for="post in posts"
        :key="post.id"
        :thumbnail="post.thumbnailUrl"
        :title="post.title"
        :excerpt="post.previewText"
        :path="post.id"
      />
    </section>

  </main>
</template>

<script>
import PostPreview from '@/components/PostPreview';

export default {
  components: {
    PostPreview,
  },

  asyncData(context) {
    return context.app.$storyapi
      .get('cdn/stories', {
        version: context.isDev ? 'draft' : 'production',
        starts_with: 'blog/',
      })
      /* eslint-disable arrow-body-style */
      .then((res) => {
        return {
          posts: res.data.stories.map((bp) => {
            return {
              id: bp.slug,
              title: bp.content.title,
              previewText: bp.content.excerpt,
              thumbnailUrl: bp.content.thumbnail,
            };
          }),
        };
      });
  },
};
</script>

<style>

</style>
