<template>
  <article class="post-page" v-editable="blok">
    <div>
      <img :src="img" alt="post image"/>
    </div>
    <div class="text">
      <nuxt-link to="/" class="link">Back</nuxt-link>
      <h1>{{ title }}</h1>
      <p>{{ content }}</p>
    </div>
  </article>
</template>

<script>
export default {
  asyncData(context) {
    return context.app.$storyapi
      .get(`cdn/stories/blog/${context.params.postId}`, {
        version: process.env.NODE_ENV === 'production' ? 'published' : 'draft',
      })
      /* eslint-disable arrow-body-style */
      .then((res) => {
        return {
          blok: res.data.story.content,
          img: res.data.story.content.thumbnail,
          title: res.data.story.content.title,
          content: res.data.story.content.content,
        };
      });
  },

  mounted() {
    this.$storyblok.init();
    this.$storyblok.on('change', () => {
      /* eslint-disable no-restricted-globals */
      location.reload(true);
    });
  },
};
</script>

<style scoped>

</style>
