<template>
  <div>
    <!-- <el-input class="input" v-model="searchStr" @input="findFurniture"></el-input> -->
    <a-scene
      emebeded
      vr-mode-ui="enabled: false">
      <a-camera position="0 2 0" rotation="-41 0 0"></a-camera>
      <!-- vue js component that wraps our aframe entity -->

        <a-assets>
          <img id="sky" src="../static/back.jpg">
        </a-assets>
        <a-sky src="#sky"></a-sky>




        <a-entity io3d-furniture="id:10344b13-d981-47a0-90ac-f048ee2780a6" position="-2 0 -3.2" rotation="0 180 0"></a-entity>

        <!-- data3d files specified by 3d.io storage 'key:' or 'url:' -->
        <a-entity io3d-data3d="key:/3f995099-d624-4c8e-ab6b-1fd5e3799173/170515-0913-4p3ktf/1e588a3b-90ac-4a32-b5b8-ff2fda7f87c4.gz.data3d.buffer" position="5 2 0"></a-entity>

      <!-- <Furnitures
        v-for="(uuid, i) in ids"
        :key="uuid.id"
        :furniture-id="'id:' + uuid"
        :index="i"
      /> -->
    </a-scene>
  </div>
</template>

<script>
import Furnitures from '@/components/Furnitures';
// import _ from 'lodash';


export default {
  components: {
    Furnitures,
  },

  data() {
    return {
      ids: [],
      searchStr: 'chair',
      placement: null,
    };
  },
  // methods: {
  //   findFurniture: _.debounce(() => {
  //     // check out 3d.io furniture documentation here: https://3d.io/docs/api/1/furniture.html
  //     /*  eslint-disable no-undef */
  //     io3d.furniture.search(this.searchStr, { limit: 300 })
  //       .then((result) => {
  //         if (result && result.length) {
  //           /* eslint-disable no-param-reassign */
  //           result = result.map(item => item.id);
  //           this.ids = [];
  //           const placement = io3d.utils.uuid.generate();
  //           this.placement = placement;
  //           // populate array with delay
  //           result.forEach((el, i) => {
  //             _.delay(() => {
  //               if (placement === this.placement) this.ids.push(el);
  //             }, 25 * i);
  //           });
  //         }
  //       })
  //       /* eslint-disable no-console */
  //       .catch(console.error);
  //   }, 300),
  // },
  // created() {
  //   this.findFurniture();
  // },
};
</script>

<style lang="scss" scoped>
.el-input {
  max-width: 600px;
  margin: 50px auto;
  display: block;

  .el-input__inner{
    background-color: black;
    color: white;
  }
}
</style>
