<template>
  <section class="main main--search">
    <h1 class="main__title">iTunes Album Search</h1>
    <form
      @submit.prevent="submit">
      <el-input
        placeholder="Enter Artist Name"
        v-model="search" autofocus></el-input>
    </form>
  </section>
</template>

<script>
export default {
  components: {
    // Logo,
  },

  data() {
    return {
      search: '',
    };
  },

  methods: {
    submit() {
      this.$router.push(`results/${this.search}`);
    },
  },
};
</script>

<style lang="scss">
.main {
  text-align: center;
  margin: 50px auto;
  padding: 0 20px;

  &__title {
    padding-bottom: 40px;
  }
}

.main--search {
  max-width: 500px;
}
</style>
